{% extends "base.j2" %}
{% from "macros.j2" import render_tab with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/music.css') }}">
</head>

<div id="twoColumns">

{% set max = 256 -%}
{% set half = max/2 -%}
{% set artistname = namespace(value='name') %}


{% for res in resource.node.walk_resources_sorted_by_time() %} 
{% if loop.index < half+1 %}

   {% if loop.index == 1  %}
    <div class="left">
   {% endif %}

{# 
{{ loop.length|pprint}} 
{{ res.meta.artist|pprint}} 
{{ artistname.value|pprint}} 
#}

   {% if res.meta.artist != artistname.value %}
    <h1> {{ res.meta.artist }} </h1>
    {{ render_tab(res,index=loop.index) }}
   {% else %}
    {{ render_tab(res,index=loop.index) }}
   {% endif %}

   {% if loop.index == half  %}
    </div>
   {% endif %}

   {% set artistname.value = res.meta.artist -%}



{% else %}

   {% if loop.index == half+1 %}
    <div class="right">
   {% endif %}

   {% if res.meta.artist != artistname.value %}
    <h1> {{ res.meta.artist }} </h1>
    {{ render_tab(res,index=loop.index) }}
   {% else %}
    {{ render_tab(res,index=loop.index) }}
   {% endif %}

   {% set artistname.value = res.meta.artist -%}

{% endif %}
{% endfor %}

{# 
<h1> Repert&oacute;rio Novo </h1>
{% for res in resource.node.walk_resources_sorted_by_time() %} 
   {% if loop.index in [76,251,12] %}
	<li> 
		<span> 
			{{loop.index}}
		</span> 
		<a href="{{ media_url(res.meta.dir) }}">{{ res.meta.title }}
		</a>
	</li>
{% endif %}
{% endfor %}
#}

</div>

{% endblock %}

