{% extends "base.j2" %}
{% from "macros.j2" import render_tab with context  %}

{% block main %}
<head>
<link rel="stylesheet" href="{{ media_url('css/music.css') }}">
</head>

<div id="twoColumns">

{% set counter = 1 -%}
{% set max = 188 -%}
{% set half = max/2 -%}


{% for res in resource.node.walk_resources_sorted_by_time() %} 
{% if counter < half+1 %}

   {% if counter == 1  %}
    <div class="left">
   {% endif %}

   {% if res.meta.artist != artistname %}
    <h1> {{ res.meta.artist }} </h1>
    {{ render_tab(res) }}
   {% else %}
    {{ render_tab(res) }}
   {% endif %}

   {% if counter == half  %}
    </div>
   {% endif %}

   {% set artistname = res.meta.artist -%}
   {% set counter = counter + 1 -%}



{% else %}

   {% if counter == half+1 %}
    <div class="right">
   {% endif %}

   {% if res.meta.artist != artistname %}
    <h1> {{ res.meta.artist }} </h1>
    {{ render_tab(res) }}
   {% else %}
    {{ render_tab(res) }}
   {% endif %}

   {% set artistname = res.meta.artist -%}
   {% set counter = counter + 1 -%}

{% endif %}
{% endfor %}
</div>

{% endblock %}

